* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

#waybar {
    background-color: rgba(17, 19, 13, 0.9);
    color: white;
    font-family: SF Pro Text Regular, Cantarell, Noto Sans, sans-serif;
    font-size: 13px;
}

#window,
#workspaces,
#custom-scratchpad-indicator,
#custom-keyboard-layout,
#custom-weather,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding-left: 4px;
    padding-right: 4px;
}

#window,
#workspaces button.focused,
#custom-scratchpad-indicator,
#custom-keyboard-layout,
#custom-weather,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    border-top: 2px solid;
}

/* ---Left--- */
#workspaces button {
    padding-left: 4px;
    padding-right: 4px;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(41, 53, 59, 0.9);
    box-shadow: inherit;
}

#workspaces button.focused {
    border-top-color: #df4a16;
    background-color: rgba(41, 53, 59, 0.9)/*rgba(40, 85, 119, 0.9)*/;
}

#workspaces button.urgent {
    background-color: rgba(156, 82, 90, 0.9);
}

#window,
#custom-scratchpad-indicator,
#mode,
#window{
    border-top-color: #00c29b;
}

#custom-scratchpad-indicator{
    margin-left: 8px;
}

#mode {
    background-color: rgba(156, 82, 90, 0.9);
}

#window {
    margin-right: 8px;
}

#window #waybar.hidden {
    opacity: 0.2;
}
/* ---------- */

#clock {
    border-top-color: #4053a3;
}

/* ---Right--- */
#custom-keyboard-layout,
#pulseaudio,
#network,
#battery {
    border-top-color: #752c4e;
}

#custom-keyboard-layout{
    margin-left: 8px;
}

label:focus {
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: rgba(179, 179, 179, 0.9);
        color: #31363b;
    }
}

#battery.discharging.critical {
    background-color: rgba(116, 58, 58, 0.9);
    color: #ffffff; 
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.discharging.warning {
    background-color: rgba(141, 120, 49, 0.9);
    color: #ffffff; 
}

#battery.charging {
    color: #ffffff; 
    background-color: rgba(37, 68, 50, 0.9);
}

#cpu,
#memory {
    border-top-color: #0c6d1a;
}

#cpu.warning {
    background-color: rgba(141, 120, 49, 0.9);
    color: #ffffff; 
}

#cpu.critical {
    background-color: rgba(116, 58, 58, 0.9);
    color: #ffffff; 
}

#tray {
    border-top-color: #991121;
    margin-right: 2px;
}
/* ---------- */

#idle_inhibitor {
    background-color: rgba(45, 52, 54, 0.9);
}

#idle_inhibitor.activated {
    background-color: rgba(236, 240, 241, 0.9);
    color: #2d3436;
}