window {
    margin: 5px;
    border: 0px solid #444444;
    background-color: rgba(0, 0, 0, 0.0);
    font-family: SF Pro Text Regular;
}

@keyframes erscheinen {
    from {opacity: 0;}
      to {opacity: 1;}
}

#input {
    margin: 0px 0px 5px;
    border: 1px solid #c9c9c9;
    background-color: rgba(30, 30, 30, 0.810);
    border-radius: 5px;
    color : #fdf6e3;
    animation: erscheinen 0.3s linear;
}

#inner-box {
    margin: 0px;
    border: 0px solid #444444;
    background-color: rgba(68, 68, 68, 0.0);
}

/* #inner-box flowboxchild:nth-child(even) { */
/*     background-color: #555555; */
/* } */

#outer-box {
    margin: 0px;
    border: 0px solid rgb(203, 75, 22);
    background-color: rgba(0, 0, 0, 0.0);
}

#scroll {
    margin: 0px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.810);
    animation: erscheinen 0.3s linear;
}

#text {
    margin: 1px;
    border: 0px solid #44AA44;
    /* background-color: #444444; */
    color: #FFFFFF;
}

#selected {
    border: 0px solid #000000;
    background-color: rgb(223, 74, 22);
}